@{
    ViewBag.Title = "Intranet";
}

<main>
    <div class=" container-fluid info">
        <div class="row">
            <div class="col-2 info-g">
                <p><i class="bi bi-info-circle"></i></p>
                <p><span>Informations générales</span></p>
            </div>
            <div class="col-2 dashboard">
                <p><i class="bi bi-sliders2-vertical"></i></p>
                <p><span>Tableaux de bord</span></p>
            </div>
            <div class="col-2 quality">
                <p><i class="bi bi-check2-square"></i></p>
                <p><span>Qualité</span></p>
            </div>
            <div class="col-2 security">
                <p><i class="bi bi-laptop"></i></p>
                <p><span>Sécurité Informatique</span></p>
            </div>
            <div class="col-2 service">
                <p><i class="bi bi-flag"></i></p>
                <p><span>Service</span></p>
            </div>
            <div class="col-2 actuality">
                <p><i class="bi bi-newspaper"></i></p>
                <p><span>Actualité</span></p>
            </div>
        </div>
    </div>
    <div id="carouselIndicators" class="carousel slide container" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="20000">
                <img src="~/Assets/litbeige.png" class="d-block w-100" alt="First Slide">
                <p class="typing_one"></p>
            </div>
            <div class="carousel-item" data-bs-interval="20000">
                <img src="~/Assets/lit.png" class="d-block w-100" alt="Seconde Slide">
                <p class="typing_two"></p>
            </div>
            <div class="carousel-item" data-bs-interval="20000">
                <img src="~/Assets/salledesoins.png" class="d-block w-100" alt="Third Slide">
                <p class="typing_three"></p>
            </div>
            <div class="carousel-item" data-bs-interval="20000">
                <img src="~/Assets/salledebain.png" class="d-block w-100" alt="Fourth Slide">
                <p class="typing_four"></p>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</main>