/*navbar*/
.active {
    font-weight: bolder;
    color: #007bff;
    background-color: #8CA0A0;
    border-radius:10px;
}

.navbar-nav li .nav-link{
    color:white;
    font-weight:500;
}

.navbar-nav li .nav-link:hover {
    color: #407C79;
}

.navbar-nav li .account-log {
    border:1px solid white;
    border-radius:10px;
    text-decoration:none;
    color:white;
    padding:10px;
}

.navbar-nav li .account-log:hover {
    background-color: #407C79;
    font-weight:700;
}

.navbar-nav .log {
    display:flex;
    color:white;
}

.navbar-nav .Session {
    display: flex;
    justify-content:flex-end;
    color: white;
}

.navbar-nav .nav-item {
    margin-left:10px;
}

.navbar .container-fluid .navbar-brand{
    font-size:26px;
    font-weight:800;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 90px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    flex:1;
}

.body, html {
    margin:0;
    padding:0;
    height:100%;
    display:grid;
    grid-template-rows:1fr auto;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*footer*/
footer {
    background-color: #555555;
    color:white;
    padding:12px;
    height:100%;
}

 footer .col-md-6{
    margin-bottom:20px;
}

footer .col-md-6 label{
    font-size:24px;
    font-weight:700;
    margin-bottom:16px;
}

footer .col-md-6 ul,
footer .col-md-6 label{
    display: flex;
    justify-content: center;
}
footer .col-md-6 ul li {
    list-style-type:none;
    font-size:28px;
}

footer .col-md-6 ul li a {
    text-decoration:none;
    color:white;
}

.Developer {
    display:flex;
    justify-content:center;
}

.col-8 p{
    font-size:18px;
}

.col-4 img {
    width: 100px;
    height: 140px;
}

/*index*/

.carousel-inner .carousel-item img{
    position:relative;
}

.carousel-inner .carousel-item p {
    position: absolute;
    left: 40%;
    top: 45%;
    font-weight:700;
    color: #F15858;
    font-size:32px;
    font-style:oblique;
}

.info {
    background-color: #F9F6F6;
    border: 1px solid #B7B3B3;
    border-radius: 10px;
    margin-bottom: 5px;
}

.info .info-g, .dashboard, .quality, .security, .service, .actuality {
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.info .info-g p span,
.info .dashboard p span,
.info .quality p span,
.info .security p span,
.info .service p span,
.info .actuality p span{
    font-weight: 700;
    color: #8D8888;
    font-size:14px;
    margin-top:20px;
}

.info .info-g p i, 
.info .dashboard p i,
.info .quality p i,
.info .security p i,
.info .service p i,
.info .actuality p i {
    font-weight: 600;
    color: #8D8888;
    font-size: 22px;
}

.info .info-g, .dashboard, .quality, .security, .service {
    border-right: 1px solid #B7B3B3;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.info .info-g p i{
    color:blueviolet;
} 

.info .dashboard p i{
    color:dodgerblue;
}

.info .quality p i{
    color:forestgreen;
}

.info .security p i{
    color:red;
}

.info .service p i{
    color:darkslategray;
}

.info .actuality p i{
    color:lightslategrey;
}

/*Rh*/
.row .col-md-2{
    background-color: #F16476;
    box-shadow: 2px 2px 2px #E3D2D2;
    margin-top:20px;
    border-radius:10px;
    color:white;
    padding:10px;
}

.row .col-md-9 {
    background-color: #479943;
    box-shadow: 2px 2px 2px #E3D2D2;
    margin-top:20px;
    border-radius: 10px;
    color: white;
    padding: 20px;
}

.row .col-md-2 ul li a{
    text-decoration:none;
    color:white;
    font-size:12px;
}

.row .col-md-2 ul li i{
    font-size:14px;
}

.row .col-md-2 ul li a:hover,
.row .col-md-2 ul li:hover{
    color: #8CA0A0;
    font-weight: 600;
}

.row .col-md-2 h5 i{
    font-size: 20px;
}

.row .col-md-2 h5{
    font-size: 14px;
}

.col-md-9 ul li,
.col-md-9 p,
.col-md-9 span{
    font-size:14px;
}

.col-md-9 span{
    margin-left:10px;
}


/*menuactive*/
.menuactive,
.listactive,
.listactive a{
    color: #B8BEB6;
    font-weight: 800;
}

/*Title*/
.container-fluid h3 {
    display:flex;
    justify-content:center;
    color: #F15858;
    font-weight:900;x²
}

/*menu form each title*/
.col-md-2 ul li {
    list-style-type:none;
}

/*Together*/
.container-fluid img {
    width:100%;
    border-radius:10px;
}


/*CreateUser and Login*/
.createUser,
.login {
    display: flex;
    justify-content: center;
    background-color: #F6EFEF;
    border-radius:20px;
    padding-top:20px;
    padding-bottom:20px;
}

.createUser input,
.createUser select{
    font-size:12px;
}

.createUser button{
    float:right;
}

.createUser label{
    font-size:15px;
    color:grey;
    font-weight:700;
}

.createUser span,
.login span {
    margin-bottom:-10px;
    font-size:10px;
}

.createUser h3,
.login h3 {
    display: flex;
    justify-content: center;
    color: #F15858;
    font-weight: 900;
}
.login{
    display:flex;
    justify-content:center;
}

.login strong{
    font-size:10px;
}

/*Users*/
.container h2{
    display: flex;
    justify-content: center;
    color: #F15858;
    font-weight: 900;
}
.User{
    background-color: #F6EFEF;
    padding:10px;
    border-radius:10px;
}

.paginationUsers {
    margin-top:10px;
}

/*Profile*/
.container .Profile {
    background-color: #F16476;
    color: white;
    border-radius: 10px;
}

.container .Profile .col-sm-3{
    font-weight:700;
    font-size:18px;
}
.container .Profile h2{
    color:white;
}

.PasswordUpdate {
    padding:20px;
    background-color: #F16476;
    border-radius:16px;
}

.PasswordUpdate h3{
    margin-bottom:20px;
}

.ProfilUpdate span,
.PasswordUpdate span {
    font-size:12px;
}

/*DSI*/
.Incident h5,
.Incident button{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

/*Responsive*/
@media(max-width:1200px){
    /*navbar*/
    .navbar-nav .log {
        margin-top:10px;
        margin-bottom: 10px;
    }

    /*index*/
    .info .info-g p span,
    .info .dashboard p span,
    .info .quality p span,
    .info .security p span,
    .info .service p span,
    .info .actuality p span {
        font-size: 8px;
    }

    .info .info-g p i,
    .info .dashboard p i,
    .info .quality p i,
    .info .security p i,
    .info .service p i,
    .info .actuality p i {
        font-size: 10px;
    }
}

@media(max-width:992px){
    .carousel-inner .carousel-item p {
        position: absolute;
        left: 40%;
        top: 45%;
        font-weight: 600;
        color: #F15858;
        font-size: 20px;
        font-style: oblique;
    }

    .col-4 img{
        width:60px;
        height:80px;
    }

    .col-8 p {
        font-size: 10px;
    }

    .col-md-6 label {
        font-size: 20px;
    }

    .col-md-6 ul li {
        font-size: 18px;
    }
}

@media (max-width:768px){
    .carousel-inner .carousel-item p {
        position: absolute;
        left:40%;
        top: 45%;
        font-weight: 600;
        color: #F15858;
        font-size: 16px;
        font-style: oblique;
    }

    .Developer p {
        font-size:12px;
    }
}

@media (max-width:576px){
    .carousel-inner .carousel-item p {
        position: absolute;
        left: 40%;
        top: 45%;
        font-weight: 600;
        color: #F15858;
        font-size: 10px;
        font-style: oblique;
    }

    /*index*/
    .info .info-g p span,
    .info .dashboard p span,
    .info .quality p span,
    .info .security p span,
    .info .service p span,
    .info .actuality p span{
        font-size: 6px;
    }

    .info .info-g p i,
    .info .dashboard p i,
    .info .quality p i,
    .info .security p i,
    .info .service p i,
    .info .actuality p i{
        font-size: 8px;
    }
}